body {background-color: #1e1e1e;}

.crossword {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.custom-heading {
    font: 1.7em Helvetica;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 204, 0);
}

.square-input {
    width: 100px; 
    height: 100px; 
    box-sizing: border-box; 
    background-color: #ffcc00;
    margin: 0px;
    border-style: solid;
    border-color: white;    
    transition-duration: 0.4s;
    
    /* Font */
    font: 3em Helvetica;
    font-weight: bold;
    text-align: center;
    color: #333333;
  }

  .square-input:hover {
    background-color: #ffe479;
  }

  .blocked-input {
    width: 100px; 
    height: 100px; 
    box-sizing: border-box; 
    background-color: #272727;
    margin: 0px;
    border-style: solid;
    border-color: white;   
    }

  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; 
  }

  .button {
    background-color: #ffcc00; 
    border: none;
    color: #333333;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    transition-duration: 0.4s;
  }

  .button:hover{
    background-color: #ffe479;
  }

  .down {
    font: 1em Helvetica;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 204, 0);
}

.across {
    font: 1em Helvetica;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 204, 0);
}

.downHints,
.acrossHints {
    font: 0.8em Helvetica;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
}

@media (min-width: 320px) and (max-width: 999px) {
  .square-input,
  .blocked-input {
    width: 50px;
    height: 50px;
    font: 1.8em Helvetica;
    font-weight: bold;
  }
}