body {background-color: #1e1e1e;}

.crossword {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.custom-heading {
    font: 1.5em Helvetica;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 204, 0);
}

.square-input {
    width: 100px; 
    height: 100px; 
    box-sizing: border-box; 
    background-color: #ffcc00;
    margin: 1px;
    border: none;
    transition-duration: 0.4s;

    /* Font */
    font: 3em Helvetica;
    font-weight: bold;
    text-align: center;
    color: #333333;
  }

  .square-input:hover {
    background-color: #ffe479;
  }

  .blocked-input {
    width: 100px; 
    height: 100px; 
    box-sizing: border-box; 
    background-color: #272727;
    margin: 1px;
    border: none;
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; 
  }

  .button {
    background-color: #ffcc00; 
    border: none;
    color: #333333;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    transition-duration: 0.4s;
  }

  .button:hover{
    background-color: #ffe479;
  }

  @media only screen and (min-width: 600px) {
    .square-input,
    .blocked-input {
        width: 100px;
        height: 100px;
    }

    .button {
        padding: 15px 32px;
        font-size: 16px;
    }
}
