body {background-color: #1e1e1e;}

.crossword {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.square-input {
    width: 100px; 
    height: 100px; 
    box-sizing: border-box; 
    background-color: #ffcc00;
    margin: 0px;
    border-style: solid;
    border-color: white;    
    transition-duration: 0.4s;
    
    /* Font */
    font: 3em Helvetica;
    font-weight: bold;
    text-align: center;
    color: #333333;
  }

  .square-input:hover {
    background-color: #ffe479;
  }

  .blocked-input {
    width: 100px; 
    height: 100px; 
    box-sizing: border-box; 
    background-color: #272727;
    margin: 0px;
    border-style: solid;
    border-color: white;   
    }

  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; 
  }

  .button {
    background-color: #ffcc00; 
    border: none;
    color: #333333;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    transition-duration: 0.4s;
  }

  .button:hover{
    background-color: #ffe479;
  }

  .down {
    font: 1em Helvetica;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 204, 0);
}

.across {
    font: 1em Helvetica;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 204, 0);
}

.downHints,
.acrossHints {
    font: 0.8em Helvetica;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 20px;
  overflow: hidden;
  background-color: #1e1e1e;
  text-align: center; 
}

li {
  display: inline-block; 
}

li a {
  display: block;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.container {
  position: relative;
  width: 100%; 
}

.top-right-paragraph {
  position: absolute;
  bottom: 0; 
  right: 0; 
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 40px; 
}

@media (min-width: 320px) and (max-width: 999px) {
  .square-input,
  .blocked-input {
    width: 50px;
    height: 50px;
    font: 1.8em Helvetica;
    font-weight: bold;
  }
}